@page "/dashboard"
@using BlazorApp.Components
@using BlazorApp.Model
@using Microsoft.AspNetCore.SignalR.Client
@using Shared.Models
@inject NavigationManager Navigation
@implements IAsyncDisposable


<PageTitle>Dashboard</PageTitle>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


            <MetricRectangle Title="Total Sales" Value="@Info.TotalSales.ToString()" BackgroundColor="#28a745" TextColor="#fff" />
            <MetricRectangle Title="New Users" Value="@Info.NewUsers.ToString()" BackgroundColor="#007bff" TextColor="#fff" />
            <MetricRectangle Title="Active Sessions" Value="@Info.ActiveSessions.ToString()" BackgroundColor="#ffc107" TextColor="#000" />

        </div>
    </div>
</section>



@code {
    private HubConnection connection;

    private Info Info = new Info(1, 2, 3);

    protected override async Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
           .WithUrl(Navigation.ToAbsoluteUri("/signalr/ordering"))
           .WithAutomaticReconnect()           
           .Build();           

        connection.On<Info>("ReceiveMessage", info =>
        {
            Info = info;

            InvokeAsync(StateHasChanged);
        });

        await connection.StartAsync();
    }


    public async ValueTask DisposeAsync()
    {
        await connection.StopAsync();
    }
}
